<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
    <!-- <script src="static/getwish.js"></script> -->
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>

                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/showAddWish">Add Wish</a></li>
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Welcome {{ userName }}</h1>
 
        </div>
 
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
    <script>
        $(function() {
        $.ajax({
            url: '/getWish',
            type: 'GET',
            success: function(res) {
                console.log(res);
                var txt = "";
                var jsobj = JSON.parse(res);
                for(var i in jsobj){
                    console.log("RES"+jsobj)

                txt +=`<div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">${jsobj[i].Title}</h4>
            <p class="list-group-item-text">${jsobj[i].Description}</p>
          </a>
        </div>` 

                }
                $('.jumbotron').append(txt);

            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    </script>
</body>
 
</html>